
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: left;
  justify-content: left;
}

.not-available{
  color: red;
  text-decoration: line-through;
}